@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Poppins:wght@400;500&display=swap');
 
:root {
	--bg : #FFFAFB;
	--bg-transparent : rgba(255, 250, 251,0.5);
	--normal : #61bdd1;
	--normal-transparent : rgba(97, 189, 209, 0.5);
	--clair : #ACDCE7;
	--clair-transparent : rgba(171, 221, 232, 0.5);
	--details : #E7FAFE;
	--highlight : #F4ACB7;
	--highlight-transparent : rgba(244, 174, 183, 0.50);

	--font : #251723;
	--font-clair : #8B848A;

	--font-family-title : 'Amaranth';
	--font-family-body : 'Poppins';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: var(--bg);
	background-image : url(./img/Subtract.png) ;
	background-repeat : no-repeat;
	background-position :  bottom right;
	background-attachment: fixed;
	background-size : auto 80%;
	height: 100%;
	min-width: 500px;
	font-family: var(--font-family-body);

	font-size: 18px;
	color: var(--font);

	caret-color: transparent;
	cursor: default;

	user-select: none; /* On ne peut rien selectionner */
}

::selection {
	background-color: var(--clair); /* highlight text selectionné */
}

body {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

/* Parametres */
.enable, .disable {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.title {
	margin: 0px;
	margin-right: 20px;
}

.zone {
	border-top: 2px solid ;
	border-bottom: 2px solid ;
	border-radius: 8px;
}
.zone2 {
	border-right: 2px solid ;
	border-left: 2px solid ;
	border-radius: 5px;

	height: 26px ;
	display: flex;
	align-items: center;
}

.enable .zone, .enable .fleches, .enable input {
	border-color: var(--highlight);
	color : var(--highlight);
}
.enable .zone2  {
	border-color: var(--highlight-transparent);
}

.disable .zone, .disable .fleches, .disable input {
	border-color: var(--clair);
	color : var(--clair);
}
.disable .zone2 {
	border-color: var(--clair-transparent);
}
.disable .title {
	color : var(--font-clair);
}

.cross::before,.cross::after  {
	background: var(--clair);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
  
input {
	border: 0px none;
	

	width: 100%;
	height: 100%;
	text-align: center;

	background-color: transparent;
	outline: none;

	font-family: Arial;
	font-size: 18px;
	caret-color: var(--normal);
}
/* ********** */


/* Switch */
#temps_mort #tm2 .checks_to {
	flex-direction: row-reverse;
}
/* ****** */


/* Boites de dialogue */
.confirmMsg {
	background: var(--bg);
	background-image : url(./img/Subtract.png) ;
	background-repeat : no-repeat;
	background-position :  bottom right;
	background-size : auto 110%;

	border-top: 5px solid var(--normal);
    border-bottom: 5px solid var(--normal);

    border-radius: 20px;

	/* height: 145px; */
    width: 350px;
	padding: 30px;
	margin: auto;

	text-align: center;
}

#bgMsg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#buttonConfirm, #buttonClose {
    border: 2px solid var(--normal);
	border-radius: 5px;

	height: 45px;
	width: 50px;
    margin: 15px 15px 0 15px; 

	font-size: 16px;
	background-color: var(--normal);
    color: var(--bg);

	transition: 0.25s;
	cursor: pointer;
}

#buttonClose {
    background-color: var(--bg);
    color: var(--normal);
}

#buttonConfirm:hover, #buttonClose:hover {
	border-color: var(--highlight);
	transform: translateY(-0.25em);
}

#buttonConfirm:hover {
	background-color: var(--highlight);
}

#buttonClose:hover {
    color: var(--highlight);
}
/* ****** ** ******** */


/* Animation incrémentation score */
.score {
	position: relative;
	display: inline-block;
	border-radius: 3vw;
	overflow: hidden;
}
.score span {
	position: absolute;
	pointer-events: none;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	animation: buble 1s linear infinite;
}

@keyframes buble {
	0% {
		width: 0px;
		height: 0px;
		opacity: 0.3;
	}
	100%{
		width: 1000px;
		height: 1000px;
		opacity: 0;
	}
}
/* ********* ************** ***** */


/* SCROLLBAR */
main::-webkit-scrollbar {
	width: 10px;
}
  
main::-webkit-scrollbar-thumb {
	background: var(--clair-transparent);
	border-radius: 10px;
}
  
main::-webkit-scrollbar-thumb:hover {
	background: var(--clair);
}

#comments_scroll::-webkit-scrollbar {
	width: 10px;
}
  
#comments_scroll::-webkit-scrollbar-thumb {
	background: var(--clair-transparent);
	border-radius: 10px;
}
  
#comments_scroll::-webkit-scrollbar-thumb:hover {
	background: var(--clair);
}
/* ********* */

/* Result responsive */
/*Max witdh atteinte pour html de taille 1474px (min à 500px)*/
:root {
	--vw-result : 1vw;
	--1vw : min(max(5px, var(--vw-result)), 15px);
	--1-1vw : min(max(5.5px, calc(var(--vw-result)*1.1)), 16px);
	--1-5vw : min(max(7.5px, calc(var(--vw-result)*1.5)), 22px);
	--2vw : min(max(10px, calc(var(--vw-result)*2)), 30px);
	--3vw : min(max(15px, calc(var(--vw-result)*3)), 44px);
	--4vw-reduit : min(max(20px, calc(var(--vw-result)*4)),50px);
}

.game{
	padding: max(3%, 10px) max(7%, 20px) max(7%, 20px) max(7%, 20px);
}

#result, #tm1, #tm2 {
	gap: var(--1-5vw);
}

#names_false, #names_true, #points_false, #points_true, #temps_mort, .set, .detail_set, .checks_to {
	gap: var(--1vw);
}

.score_set  {
	gap: var(--2vw);
}

.detail_set {
	padding: 0 var(--3vw);
}

#name1, #name2 {
	font-size: var(--4vw-reduit);
}

#temps_mort .title_subsection {
	font-size: var(--2vw);
}

.Felche_Switch_container {
	width: var(--3vw);
	height: var(--3vw);
}

.checks_to, .Set_container {
    --border-witdh : min(max(3px, calc(var(--vw-result)*0.6)), 8px);
}
.zone1_to {
	border-radius:  var(--1vw);
    width: var(--4vw-reduit);
    height: var(--4vw-reduit);
}
.zone2_to {
	border-radius: min(max(2.5px, calc(var(--vw-result)*0.5)),7.5px);
    width: var(--4vw-reduit);
    height: calc(var(--4vw-reduit) - 2*var(--border-witdh)) ;
}

.Set_container {
    --radius: var(--1-5vw);
}

.z21, .z22 {
    border-radius: min(max(4px, calc(var(--vw-result)*0.8)),12px);
    font-size: min(max(17.5px, calc(var(--vw-result)*3.5)),51px);
    padding-bottom: min(max(1.5px, calc(var(--vw-result)*0.3)), 4.5px);
}

.carre_false, .carre_true {
    --border-witdh: min(max(9px, calc(var(--vw-result)*1.8)),20px);
}

.z1_score {
	border-radius: var(--3vw);
}

.z2_score {
	border-radius: var(--1-5vw);
    font-size: min(max(125px, calc(var(--vw-result)*25)),350px);
    padding-bottom: var(--1-5vw);
}

.carre {
    --border-witdh : min(max(4px, calc(var(--vw-result)*0.8)),10px);
}

.z1_set {
	border-radius: var(--1-5vw);
}

.z2_set {
	border-radius: min(max(4px, calc(var(--vw-result)*0.8)),12px);
    font-size: min(max(30px, calc(var(--vw-result)*6)), 90px);
    padding-bottom: min(max(2.5px, calc(var(--vw-result)*0.5)), 7px);
}

.timer_true {
	height: var(--4vw-reduit);
}
.time {
	font-size: var(--4vw-reduit);
}
  
.pause_false, .stop_false, .pause_true, .stop_true {
	width: var(--3vw);
	height: var(--3vw);
	gap: min(max(1.5px, calc(var(--vw-result)*0.3)),4.5px);
	border: min(max(0.5px, calc(var(--vw-result)*0.1)),1.5px) solid var(--clair);
}
.pause_false .time_detail, .pause_true .time_detail {
	width: min(max(2px, calc(var(--vw-result)*0.4)),6px);
	height: var(--1-1vw);
}
.stop_false .time_detail, .stop_true .time_detail {
	width: var(--1-1vw);
	height: var(--1-1vw);
}
/* ****** ********** */

/* Comments responsive */
:root {
	--vw-comments : 1vw;
	--1vw-reduit : min(max(5px, var(--vw-comments)),10px);
	--2vw-reduit :  min(max(10px, calc(var(--vw-comments)*2)),20px);
}


.title_subsection_com, .detail_react_true, .detail_react_false {
	font-size : min(max(15px, calc(var(--vw-comments)*3)),20px);
}
.text_see, .content_com, .content_responses {
    font-size : min(max(12.5px, calc(var(--vw-comments)*2.5)),18px);
}
.date, #read {
	font-size : min(max(10px, calc(var(--vw-comments)*2)),15px);
}
.icon_react {
	font-size: min(max(25px,5vw),40px);
}

.zone_com {
	margin: var(--2vw-reduit) 0 0 var(--2vw-reduit);
	gap: var(--2vw-reduit);
}
.com {
	padding-bottom: var(--2vw-reduit);
}
.reponse_details {
	gap: min(max(15px, calc(var(--vw-comments)*3)),20px);
}
.reponse {
	padding : var(--1vw-reduit) 0 var(--1vw-reduit)  var(--2vw-reduit);
}
.content_responses {
	margin: var(--1vw-reduit) 0 0 var(--2vw-reduit);
}
.see, .detail_react_true, .detail_react_false {
	gap:  var(--1vw-reduit);
}
#read {
    bottom: min(max(2px, calc(var(--vw-comments)*0.4)),3px);
}
.react {
	gap: min(max(15px, calc(var(--vw-comments)*3)), 44px);
}


/* ******** ********** */

/* Header responsive */
.Back_container, .Sync_container {
	height: min(max(15px, calc(var(--vw-result)*3)), 25px);
	width: min(max(15px, calc(var(--vw-result)*3)),25px);
}
/* ****** ********** */
